# ------------------------------------------------------------------------
# standard programs
CC = cc
INSTALL = install
POD2MAN = pod2man

# ------------------------------------------------------------------------
# things about lua
LUA_VERSION	= 5.1
LUA_PKG_NAME	= lua5.1

LUA_INC := $(shell pkg-config --cflags ${LUA_PKG_NAME})
LUA_LIB := $(shell pkg-config --libs ${LUA_PKG_NAME})

# ------------------------------------------------------------------------
# things about ixp
#IXP_PREFIX = ${HOME}

IXP_INC := -I${IXP_PREFIX}/usr/include
IXP_LIB := -L${IXP_PREFIX}/usr/lib -lixp

# ------------------------------------------------------------------------
# system directories

DESTDIR		=
PREFIX		= /usr/local

CORE_LIB_DIR	= ${DESTDIR}${PREFIX}/lib/lua/${LUA_VERSION}
CORE_LUA_DIR	= ${DESTDIR}${PREFIX}/share/lua/${LUA_VERSION}

PLUGIN_LIB_DIR	= ${DESTDIR}${PREFIX}/lib/lua/${LUA_VERSION}/wmii
PLUGIN_LUA_DIR	= ${DESTDIR}${PREFIX}/share/lua/${LUA_VERSION}/wmii

BIN_DIR		= ${DESTDIR}${PREFIX}/bin
RC_DIR		= ${DESTDIR}/etc/X11/wmii-3.5
MAN_DIR		= ${DESTDIR}${PREFIX}/share/man/man3
XS_DIR		= ${DESTDIR}${PREFIX}/share/xsessions

ALL_INSTALL_DIRS= ${CORE_LIB_DIR} \
		  ${CORE_LUA_DIR} \
		  ${PLUGIN_LIB_DIR} \
		  ${PLUGIN_LUA_DIR} \
		  ${BIN_DIR} \
		  ${RC_DIR} \
		  ${MAN_DIR} \
		  ${XS_DIR}

# ------------------------------------------------------------------------
# home directories

HOME_WMII	= ~/.wmii-3.5
HOME_CORE	= ${HOME_WMII}/core
HOME_PLUGINS	= ${HOME_WMII}/plugins
HOME_BIN_DIR    = $(word 1,$(wildcard ~/usr/bin ~/bin) ~/usr/bin)
HOME_PREFIX     = $(dir ${HOME_BIN_DIR})

ALL_HOME_DIRS	= ${HOME_CORE} \
		  ${HOME_PLUGINS} \
		  ${HOME_PLUGINS}

